.character {
    
    display: flex;
    justify-content: center;
    padding-top: 30px;
    min-height: calc(100vh - 150px);
    max-width: var(--container);
    margin: 0 auto;
}

.character > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    height: fit-content;
}

.character > div > button {
    order: 1;
    width: 100%;
}

.character-info {
    display: flex;
    flex-direction: column;
    background-color: #80ced6;
    color: white;
    border-radius: 10px;
    overflow: hidden;  
}

.character-info img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex: 2 1 0%;
}
  
.character-detail {
    padding: 1rem;
    flex: 3 1 0%;
}

.character-detail h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.character-detail span {
    color: gray;
}

.character-detail p {
    margin-top: .5rem;
}